body {
  background-color: #fdf6e3 !important;
}

.topbar {
  display: none !important;
}

.opblock-summary-control,
.models-control,
.model-box-control {
  outline: none !important;
  border: none !important;
  user-select: none !important;
  -webkit-user-select: none !important;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
  background-color: #aed9e7;
  border: 3px solid transparent;
  border-radius: 100px;
  background-clip: content-box;
}
